In [1]:
import pandas as pd
import numpy as np

In [2]:
customer = pd.read_excel('Customer.xlsx')

In [3]:
reviews = pd.read_excel('Reviews.xlsx')

In [10]:
sales_train = pd.read_excel('Sales.xlsx', sheet_name='Train')

In [12]:
sales_test = pd.read_excel('Sales.xlsx', sheet_name='Test')

In [13]:
sales_test.head()

,Available Books in the shelf,Price,State,Time,Week,NewYear,MLK,Presidents,GoodFriday,Memorial,Independence,Labor,Thanksgiving,Christmas,BookCode
0,5123.0,14.106784,Arizona,Week End 11-03-19,2019-11-03,0,0,0,0,0,0,0,0,0,22722
1,10064.0,13.935992,Arizona,Week End 11-10-19,2019-11-10,0,0,0,0,0,0,0,0,0,22722
2,8299.0,13.792752,Arizona,Week End 11-17-19,2019-11-17,0,0,0,0,0,0,0,0,0,22722
3,6970.0,13.946064,Arizona,Week End 11-24-19,2019-11-24,0,0,0,0,0,0,0,0,0,22722
4,9207.0,14.167042,Arizona,Week End 12-01-19,2019-12-01,0,0,0,0,0,0,0,1,0,22722